body {
    height: 100vh;
    width: 100vw;
    background-color: rgb(231, 230, 230);
    font-family: 'Cairo';
}
/* NAVIGATION */
.nav {
    background-color: #F5F6FF;
    max-width: 40rem;
    justify-content: space-between;
    padding: .5rem;
    border-radius: 6px;
}

.nav-hr {
    width: .01px;
    height: 20px;
    background-color: black;
}

.nav-items {
    display: flex;
    margin-left: 50%;
    justify-content: space-around;
}

.nav-bold {
    font-weight: bold;
}
/* LONG MODULE */
.longmodul {
    background-color: #F5F6FF;
    max-width: fit-content;
    padding: .2rem;
    padding-left: .3rem;
    padding-right: .3rem;
    border-radius: 6px;
}
/* MEDIUM MODULE */
.midmodul {
    background-color: #F5F6FF;
    max-width: fit-content;
    padding: .2rem;
    padding-left: .3rem;
    padding-right: .3rem;
    border-radius: 6px;
}
/* SHORT MUDULE */
.shortmodul {
    background-color: #F5F6FF;
    max-width: fit-content;
    padding: .2rem;
    padding-left: .3rem;
    padding-right: .3rem;
    border-radius: 6px;
}
/* COURSE CARD */
.card {
    background-color:#666A73;
    max-width: 19rem;
    max-height: 35rem;
    display: flex;
    flex-direction: column;
    border-radius: 8px;
}

.card-top {
    width: auto;
    background-color: #666A73;
    margin-bottom: 80%
}

.card-bottom {
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    background-color: #F5F6FF;
}

.card-title {
    font-style:normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 130%;
    margin-left: 1rem
}

.card-text {
    margin-left: 1rem;
    margin-top: -1rem;
    font-size: normal;
}

.card-opt {
    background-color: rgba(20, 22, 25, 0.08);
    text-align: center;
    border-style: solid;
    border-width: .5px;
    border-color: white;
    margin-top: 0;
    margin-left: 1rem;
    margin-right: 1rem;
}

#card-first {
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
}

#card-last {
    margin-bottom: 1rem;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
}
/* BUTTON */
.button {
    font-size: 16px;
    line-height: 130%;
    width: 34rem;
    height: 3.44rem;
    background-color: #EA4848;
    color: #F3F5F6;
    border: none;
    border-radius: 4px;
}
/* MODULE GOAL */
.goal-module {
    background-color: #E6EBF3;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    width: 43rem;
    height: 10.44rem;
    padding: 16px 16px 32px;
    gap: 32px;
    border-radius: 4px;
}

.goal-nr {}

.goal-desc {
    text-align: start;
    
}

.goal-title {
    font-size: 22px;
}

.goal-span {
    background-color: rgb(255, 255, 255);
}
/* VIDEO MODULE */
.vid-modul {
    background-color: #F5F6FF;
    display: flex;
    flex-direction: row;
    gap: 1rem;
    width: 33rem;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}
/* ANSWER MODULE */
.answer-modul {
    background-color: #F5F6FF;
    border-style: solid;
    border-width: 1px;
    border-radius: 4px;
    height: 2.12rem;
    width: 33rem;
    display: flex;
    flex-direction: row;
}

.first-answer {
    background-color: #666A73;
    color: whitesmoke;
    width: 25%;
    text-align: center;
}

.second-answer {
    width: 25%;
    text-align: center;
    border-right: 1px #666A73;
}

.third-answer {
    width: 25%;
    text-align: center;
}

.fourth-answer {
    width: 25%;
    text-align: center;
}

.answer-hr {
    width: .01px;
    height: auto;
    background-color: black;
}

/* Toggle module */

.toggle-modul {
    display: flex;
    gap: 1rem;
}

.toggle-h3 {
    font-weight: 100;
}

/* Slider module */

.slider-modul {
    max-width: 34rem;
    max-height: 6.75rem;
    background-color: #F3F5F6;
    border-radius: 4px;
}

.slider-h2 {
    font-weight: 250;
    margin-left: 1rem;

}

.slider-container {
   display: flex;
   margin-left: 1rem;
   margin-top: -1rem;

}

.slider {
    width: 22rem;
}

/* Big card module */

.big-card-modul {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    max-width: 48rem;
    height: 30rem;
    background-color: #E0D6FF;
    border-radius: 8px;
}

.big-card-left {
    grid-area: 1 / 1 / 2 / 2;
    margin-left: 1rem;
}

.left-title {
    font-size: large;
    font-weight: 100;
    /* margin-left: 1rem; */
}

.left-small-text {
    font-weight: 10;
    font-size: 1rem;
}

.big-card-right {
    grid-area: 1 / 2 / 2 / 5;
}

.right-title {
    font-size: 2.3rem;
    font-weight: 150;
    margin-top: 1rem; 
    line-height: 45px;
}

#long-goal-comp {
    margin-top: 1.5rem;
}

.long-text {
    max-width: auto;
}

#vid-modul-comp {
    gap: 1rem;
}

#right-answer-modul {
    /* padding: 1rem; */
    margin-bottom: -4rem;
}