<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link href='https://fonts.googleapis.com/css?family=Cairo' rel='stylesheet'>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../components/components.css">
    <title>Component</title>
</head>
<body>
    <section class="nav">
        <section class="empty"></section>
        <section class="nav-items">
            <article>planering</article>
            <hr class="nav-hr">
            <article>dashboard</article>
            <hr class="nav-hr">
            <article class="nav-bold">kursvy</article>
            <hr class="nav-hr">
            <article>bedömning</article>
        </section>
    </section>
<hr>
    <section class="longmodul">
        <article>Här står ett väldigt konkret modulmål som kan vara ganska långt beskrivet</article>
    </section>
<hr>
    <section class="midmodul">
        <article>Här står ett väldigt konkret modulmål</article>
    </section>
<hr>
    <section class="shortmodul">
        <article>kort modulmål</article>
    </section>
<hr>
    
<section class="card">
    <section class="card-top"></section>
    <section class="card-bottom">
        <h2 class="card-title">En awesome kurs i grejer</h2>
        <h4 class="card-text">med Lärare Lärarsson</h4>
        <article class="card-opt" id="card-first">Planera</article>
        <article class="card-opt">Kursvy</article>
        <article class="card-opt">Översikt</article>
        <article class="card-opt" id="card-last">bedömning</article>
    </section>
</section>
<hr>

<button class="button">Ok, klar!</button>
<hr>

<section class="goal-module">
    <section class="goal-nr">
        <h2 style="text-decoration-line: underline;">01</h2>
        <h3>2 studiedagar</h3>
    </section>
    <section class="goal-desc">
        <h1 class="goal-title">Mål med modul</h1>
        <article><span class="goal-span">1</span>    Paradigm shift series A financing social media startup backing android.</article>
        <article><span class="goal-span">2</span>    Paradigm shift series A financing social media startup backing android.</article>
    </section>
</section>
<hr>

<section class="vid-modul">
    <img src="../components/img/camera-outlined-svgrepo-com.svg" alt="camera">
    <article>Super awesome video</article>
</section>
<hr>

<section class="answer-modul">
    <article class="first-answer">Ej påbörjat</article>
    <hr class="answer-hr">
    <article class="second-answer">Förstår inte</article>
    <hr class="answer-hr">
    <article class="third-answer">Förstår delvis</article>
    <hr class="answer-hr">
    <article class="fourth-answer">Förstår helt</article>
</section>
<hr>

<section class="toggle-modul">
    <img src="../components/img/toggle-on-custom.svg" alt="toggle">
    <h3 class="toggle-h3">Fäll ihop avklarade moduler och aktiviteter</h3>
</section>
<hr>

<section class="slider-modul">
    <h2 class="slider-h2">Lorem ipsum dolor sit amet, consectetu</h2>
        <div class="slider-container">
            <p>Förstår inte</p>
            <input type="range" min="1" max="100" value="50" class="slider" id="myRange">
            <p>Förstår allt</p>
        </div>
</section>
<hr>

<section class="big-card-modul">
    <section class="big-card-left">
        <h2 class="left-title" style="text-decoration-line: underline;">1.2</h2>
        <h3 class="left-small-text"><img src="../components/img/calendar-symbol-svgrepo-com.svg" alt="calendar">  3 okt. 09.00 - 16.00</h3>
    </section>
    <section class="big-card-right">
        <h2 class="right-title">Tillgänglighet - en grundläggande rättighet</h2>
        <section class="longmodul" id="long-goal-comp">
            <article>Här står ett väldigt konkret modulmål som kan vara ganska långt beskrivet</article>
        </section>
        <p class="long-text">Responsive web design agile development funding MVP alpha channels.
            User experience beta branding supply chain social proof scrum project ramen influencer hypotheses termsheet.
        </p>
        <section class="vid-modul" id="vid-modul-comp">
            <img src="../components/img/camera-outlined-svgrepo-com.svg" alt="camera">
            <article>Super awesome video</article>
        </section>
        
        <section class="vid-modul" id="vid-modul-comp">
            <img src="../components/img/camera-outlined-svgrepo-com.svg" alt="camera">
            <article>Super awesome video</article>
        </section>
        <section  class="answer-modul" id="right-answer-modul">
            <article class="first-answer">Ej påbörjat</article>
            <article class="second-answer">Förstår inte</article>
            <article class="third-answer">Förstår delvis</article>
            <article class="fourth-answer">Förstår helt</article>
        </section>
    </section>
</section>

</body>
</html>